/*  Estilos de la NAVBAR  */

nav ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding */
    margin: 0; /* Elimina el margin */
    display: flex; /* Utiliza flexbox para la disposición horizontal */
}

nav ul li {
    margin-right: 20px; /* Espaciado entre los elementos de la lista */
}


nav ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

nav ul li a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #000; /* Color del texto */
    padding: 10px; /* Espaciado interno de los enlaces */
}

nav ul li a:hover {
    text-decoration: underline; /* Subraya los enlaces al pasar el ratón por encima */
}    

nav {
    margin-bottom: 40px; /* Espacio entre el nav y el mensaje de home.html */
    background-color: aqua;
}

/*  Estilo de REALIZAR PUBLICACIÓN  */


        /* Estilos para mensajes de error y éxito */
        .error-message {
            color: red;
        }
        .messages {
            list-style-type: none;
            padding: 0;
        }
        .messages li {
            margin-bottom: 10px;
            color: green;
        }


        /* Estilos para el formulario */
        form {
            display: flex;
            flex-direction: column;
            max-width: 400px;
            margin: 0 auto;
        }
        form div {
            margin-bottom: 15px;
        }


        /* Estilos para el campo de archivo personalizado */
        .custom-file-input {
            display: none; /* Oculta el campo de archivo original */
        }
        .custom-file-label {
            display: inline-block;
            padding: 7px 10px;
            background-color: #f8f8f8;
            border: 1px solid #ccc;
            border-radius: 0px;
            cursor: pointer;
        }
        .custom-file-label:hover {
            background-color: #AAAAAA; /* Cambia color de fondo al pasar sobre el botón */
        }
        .file-preview {
            font-size: 14px;
            margin-top: 5px;
        }
        .photo-container {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .photo-container img {
            width: 100px;
            height: auto;
            margin-right: 10px;
        }

        /* Estilos para el botón "Publicar" */
        button {
            padding: 10px;
            background-color: #4CAF50; /* Color de fondo del botón */
            color: white; /* Color del texto del botón */
            border: none;
            cursor: pointer;
        }
        button:hover {
            background-color: #45a049; /* Cambia color de fondo al pasar sobre el botón */
        }

        /* Estilos para el botón "x" que elimina la seleccion de una foto */
        .eliminar-foto {
            display: inline-flex; /* Cambia la visualización a flex para centrar verticalmente */
            justify-content: center; /* Centra horizontalmente */
            align-items: center; /* Centra verticalmente */
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            background-color: #ccc;
            color: #666;
            border-radius: 50%;
            cursor: pointer;
            margin-left: 10px;
            /* Elimina el color verde del botón */
            background-color: #f8f8f8;
            color: #ccc;
            border: 1px solid #ccc;
        }
        .eliminar-foto:hover {
            /* Cambia el color de fondo al pasar el mouse */
            background-color: #aaa;
            color: #fff;
        }

        .file-list li {
            font-size: 16px; /* Cambia el tamaño de la fuente según tus preferencias */
            list-style-type: none; /* Elimina el punto de listado */
            margin-left: 0; /* Elimina cualquier margen izquierdo que pueda tener el elemento */
        }