{% extends "base.html" %}

{% block content %}
    <h3>Ofertas para la Publicación "{{ publicacion.titulo }}"</h3>
    {% if ofertas %}
        <ul>
            {% for oferta in ofertas %}
                <li>
                    Oferta de ${{ oferta.precio_estimado }} - "{{ oferta.descripcion }}"
                    <a href="{% url 'ver_detalle_oferta' oferta.id %}" class="button">Ver Detalle</a>
                    {% if oferta == publicacion.oferta_aceptada %}
                        <!-- Si la oferta esta aceptada, muestra el botón para cancelar la oferta aceptada -->
                        <a href="{% url 'cancelar_oferta_aceptada' publicacion.id %}" class="button">Cancelar Oferta Aceptada</a>
                    {% else %}
                        <!-- Si la oferta no esta aceptada, muestra los botones para aceptar o rechazar la oferta -->
                        <a href="{% url 'aceptar_oferta' oferta.id %}" class="button">Aceptar Oferta</a>
                        <a href="{% url 'rechazar_oferta' oferta.id %}" class="button">Rechazar Oferta</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aún no hay ofertas disponibles.</p>
    {% endif %}
{% endblock %}
