{% extends "base.html" %}

{% block content %}

    <h3>Detalles de la Oferta</h3>

    {% if oferta == oferta.publicacion.oferta_aceptada %}
        <p>Estado: Oferta Aceptada</p>
    {% else %}
        <p>Estado: Oferta Pendiente</p>
    {% endif %}

    <p>Autor: {{ oferta.autor.username }}</p>
    <p>Descripción: {{ oferta.descripcion }}</p>
    <p>Precio Estimado: ${{ oferta.precio_estimado }}</p>

    <a href="{% url 'ver_ofertas' oferta.publicacion.id %}" class="btn btn-secondary">Volver a Ofertas</a>
{% endblock %}