<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oferta Aceptada Cancelada</title>
</head>
<body>
    <h2>¡Tu oferta ha sido cancelada!</h2>
    <p>Hola {{ oferta.autor.username }},</p>
    <p>Te informamos que tu oferta para la publicación "{{ oferta.publicacion.titulo }}" ha sido cancelada.</p>
    <p>Detalles de la oferta:</p>
    <ul>
        <li>Precio Estimado: ${{ oferta.precio_estimado }}</li>
        <li>Descripción: "{{ oferta.descripcion }}"</li>
    </ul>
    <p>Tu oferta volvió a la lista de ofertas.</p>
    <p>Puede ser aceptada nuevamente. ¡No pierdas las esperanzas!</p>
    <p>Saludos,</p>
    <p>GlamTech</p>
</body>
</html>
