<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oferta Aceptada Cancelada</title>
</head>
<body>
    <h2>¡Tu oferta ha sido creada!</h2>
    <p>Hola {{ oferta.autor.username }},</p>
    <p>Te informamos que tu oferta para la publicación "{{ oferta.publicacion.titulo }}" ha sido creada.</p>
    <p>Detalles de la oferta:</p>
    <ul>
        <li>Precio Estimado: ${{ oferta.precio_estimado }}</li>
        <li>Descripción: "{{ oferta.descripcion }}"</li>
    </ul>
    <p>Para ver tus ofertas, inicia sesión en nuestro sitio y digete a la lista de ofertas! </p>
    <p>Se te creo una cuenta para que hagas un seguimiento de las mismas: </p>
    <p>Correo electronico: {{oferta.autor.username}} </p>
    <p>Contraseña: {{contraseña}} </p>
    <p>Saludos,</p>
    <p>GlamTech</p>
</body>
</html>