{% extends 'base.html' %}

{% block content %}
    
<form method="post" class="form-signin">
    {% csrf_token %}  
    <div class="form-group">
        <label for="">Por favor, ingrese el motivo.</label>
        <textarea name="motivo" rows="5" cols="40" class="form-control"></textarea>
    </div>
    <button type="submit" class="nuestro-btn3">Eliminar cuenta</button>
</form>

<div class="text-center">
    <a href="{% url 'perfil_de_usuario' user.id %}" class="nuestro-btn">Volver a mi perfil</a>
</div>


{% endblock %}