{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2>Editar Información Personal</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-secondary">Guardar Cambios</button>
    </form>

    <br>

    <!-- Botón para volver a la página anterior -->
    <div class="text-center">
        <a href="javascript:history.back()" class="btn btn-outline-secondary">Atrás (no guardar cambios)</a>
    </div>

    <br>

    <div class="text-center">
    <a href="{% url 'actualizar_password' user_id %}" class="boton-discreto">Actualizar contraseña</a><br>
    </div>

{% endblock %}

