{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2>Editar Información Personal</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        <!-- <a href="{% url 'editar_perfil_usuario' %}" class="btn btn-primary">No Guardar Cambios</a> -->
    </form>

    <!-- Botón para volver a la página anterior -->
    <div class="text-center">
        <a href="javascript:history.back()" class="btn btn-primary">Atrás (no guardar cambios)</a>
    </div>

{% endblock %}

