{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/perfil.css' %}">
{% endblock %}

{% block content %}
    <h1>Información Personal</h1>
    <div class="perfil-info">
        <ul>
            <li><p>Correo Electrónico: {{ username }}</p></li>
            <li><p>Fecha de Nacimiento: {{ fechaNacimiento }}</p></li>
            <li><p>DNI: {{ dni }}</p></li>
        </ul>
    </div>

    <h2>Publicaciones</h2>
    <div class="publicaciones">
        <ul>
            {% for publicacion in publicaciones %}
                <li>
                    <p>Título: {{ publicacion.titulo }}</p>
                    <p>Precio Mínimo: {{ publicacion.precio_minimo }}</p>
                    <p>Tipo de Embarcación: {{ publicacion.tipo_embarcacion }}</p>
                    <p>Año: {{ publicacion.anio }}</p>
                    <h4>Fotos:</h4>
                    <ul class="fotos-lista">
                        {% for foto in publicacion.fotos.all %}
                            <li>
                                <img src="{{ foto.foto.url }}" alt="{{ foto.descripcion }}">
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}