    {% extends 'base.html' %}
    {% block content %}
        <form id="registro-form" method="post" novalidate>
            {% csrf_token %} <!--Token que genera Django por seguridad-->
            <h1>Registro de Usuario</h1>
            <div class="form-group">
                <label>{{form.username.label}}</label>
                {{ form.username }}
                <span class="error-message">{{ form.username.errors }}</span>
            </div>

            <div class="form-group">
                <label>{{form.dni.label}} </label>
                {{ form.dni }}
                <span class="error-message">{{ form.dni.errors }}</span>
            </div>

            <div class="form-group">
                <label> {{form.password1.label}} </label>
                {{ form.password1 }}
                <span class="error-message">{{ form.password1.errors }}</span>
            </div>

            <div class="form-group">
                <label> {{form.password2.label}} </label>
                {{ form.password2 }}
                <span class="error-message">{{ form.password2.errors }}</span>
            </div>

            <div class="form-group">
                <label> {{form.fecha_nacimiento.label}} </label>
                {{ form.fecha_nacimiento }}
                <span class="error-message">{{ form.fecha_nacimiento.errors }}</span>
            </div>

            <button type="submit" class="nuestro-btn">Registrarse</button>
        </form>

        <!--Script de ChatGPT que me permite colocar solo año entre 1910 y 2024-->
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const fechaNacimientoInput = document.querySelector('input[type="date"]');
                const minYear = 1910;
                const maxYear = new Date().getFullYear();
        
                fechaNacimientoInput.addEventListener('blur', function() {
                    let parts = fechaNacimientoInput.value.split('-');
                    let year = parseInt(parts[0]);
                    
                    if (isNaN(year) || year < minYear) {
                        parts[0] = minYear.toString().padStart(4, '0');
                    } else if (year > maxYear) {
                        parts[0] = maxYear.toString().padStart(4, '0');
                    }
        
                    fechaNacimientoInput.value = parts.join('-');
                });
            });
        </script>
                         
    {% endblock %}
