{% extends "base.html" %}
{% block content %}
<div class="container main-content">
    <h1><u>Información Acerca de Puerto Aventura</u></h1>
    <br>
    <section>
        <h2>Acerca de Puerto Aventura</h2>
        <p>Puerto Aventura es una organización dedicada a la gestión de varios puertos ubicados en diferentes puntos del Río de la Plata. Nuestra misión es proporcionar servicios eficientes y de alta calidad para la administración de amarres y el registro de movimientos de embarcaciones.</p>
    </section>
    
    <br>
    <section>
        <h2>Servicios Principales</h2>
        <ul>
            <li><strong>Gestión de Amarres:</strong> Supervisamos y administramos los amarres en nuestros puertos, asegurando que todas las embarcaciones tengan un lugar seguro para atracar.</li>
            <li><strong>Registro de Movimientos:</strong> Llevamos un control detallado de las entradas y salidas de todas las embarcaciones, manteniendo un registro actualizado y preciso.</li>
        </ul>
    </section>
    
    <br>
    <section>
        <h2>Nuestra Historia</h2>
        <p>Puerto Aventura nació con el objetivo de mejorar la gestión portuaria en el Río de la Plata. A lo largo de los años, hemos crecido y ahora gestionamos aproximadamente 10 puertos, cada uno con un equipo especializado de entre 3 y 5 personas. Estos equipos están compuestos por vigilantes y encargados de registrar las salidas, entre otros roles específicos.</p>
    </section>
    
    <br>
    <section>
        <h2>Innovaciones y Soluciones</h2>
        <p>Estamos comprometidos con la mejora continua y la innovación. Recientemente, hemos enfrentado desafíos relacionados con embarcaciones no utilizadas que generan deudas debido a los costos de amarre. Para abordar esta situación, hemos desarrollado una solución innovadora que permite el intercambio de embarcaciones, liberando amarres y ofreciendo oportunidades para nuevos propietarios. Además, estamos explorando la monetización de espacios a través de publicidad en nuestro sistema.</p>
    </section>
    
    <br>
    <section>
        <h2>Visión y Futuro</h2>
        <p>Nuestra visión es transformar la gestión portuaria en un proceso más eficiente y rentable, beneficiando tanto a los propietarios de embarcaciones como a la comunidad portuaria en general. Continuamos buscando nuevas formas de optimizar nuestros servicios y ofrecer valor agregado a nuestros clientes.</p>
    </section>
    
    <br>
    <section>
        <h2>Contacto</h2>
        <p>Para más información sobre nuestros servicios y puertos, no dudes en contactarnos.</p>
        <p>Teléfono: +123456789</p>
        <p>Correo: PuertoAventura@gmail.com</p>
    </section>
</div>

<!-- Botón para volver a la página anterior -->
<div class="text-center">
    <a href="javascript:history.back()" class="nuestro-btn">Atrás</a>
</div>

{% endblock content %}
