{% extends "base.html" %}
{% block content %}
<div class="container main-content">
    <h1><u>Políticas de Privacidad</u></h1>
    
    <br>
    <section>
        <h3><strong>Introducción</strong></h3>
        <p>En nuestra plataforma, respetamos tu privacidad y nos comprometemos a proteger tus datos personales. Esta política de privacidad describe cómo recopilamos, usamos y compartimos tu información.</p>
    </section>

    <br>
    <section>
        <h3><strong>Información que Recopilamos</strong></h3>
        <h4>Información Personal</h4>
        <p>Recopilamos información personal que nos proporcionas directamente, como tu nombre, dirección de correo electrónico, número de teléfono y cualquier otra información que decidas proporcionar.</p>
        <h4>Información de Uso</h4>
        <p>Recopilamos información sobre tu interacción con nuestra plataforma, como las páginas que visitas y las ofertas que haces.</p>
        <h4>Información Técnica</h4>
        <p>Recopilamos información técnica sobre tu dispositivo y conexión, como la dirección IP, tipo de navegador y sistema operativo.</p>
    </section>
    
    <br>
    <section>
        <h3><strong>Cómo Usamos tu Información</strong></h3>
        <p>Utilizamos la información recopilada para los siguientes propósitos:</p>
        <ul>
            <li>Proveer y mejorar nuestros servicios.</li>
            <li>Personalizar tu experiencia en nuestra plataforma.</li>
            <li>Comunicarte actualizaciones, promociones y noticias relacionadas con nuestros servicios.</li>
            <li>Proteger la seguridad de nuestros usuarios y nuestra plataforma.</li>
            <li>Cumplir con nuestras obligaciones legales.</li>
        </ul>
    </section>
    
    <br>
    <section>
        <h3><strong>Compartir tu Información</strong></h3>
        <p>No compartimos tu información personal con terceros, excepto en las siguientes circunstancias:</p>
        <ul>
            <li>Con tu consentimiento explícito.</li>
            <li>Para cumplir con obligaciones legales o responder a procesos legales válidos.</li>
            <li>Para proteger la seguridad y los derechos de nuestros usuarios y de nuestra plataforma.</li>
            <li>Con proveedores de servicios que nos ayudan a operar y mejorar nuestra plataforma.</li>
        </ul>
    </section>
    
    <br>
    <section>
        <h3><strong>Tus Derechos</strong></h3>
        <p>Tienes derecho a acceder, corregir y eliminar tu información personal. También puedes oponerte al procesamiento de tus datos y solicitar la limitación de su uso.</            <h2>Seguridad de la Información</h2>
        <p>Implementamos medidas de seguridad adecuadas para proteger tu información personal contra acceso no autorizado, alteración, divulgación o destrucción.</p>
    </section>
    
    <br>
    <section>
        <h3><strong>Cambios a esta Política de Privacidad</strong></h3>
        <p>Podemos actualizar esta política de privacidad de vez en cuando. Te notificaremos cualquier cambio significativo publicando la nueva política en nuestra plataforma y actualizando la fecha de vigencia.</p>
    </section>
    
    <br>
    <section>
        <h3><strong>Contacto</strong></h3>
        <p>Si tienes preguntas o inquietudes sobre esta política de privacidad, no dudes en contactarnos a través de nuestro correo electrónico de soporte: GlamTech@gmail.com.</p>
    </section>
    <br>
</div>

<br>
<!-- Botón para volver a la página anterior -->
<div class="text-center">
    <a href="javascript:history.back()" class="btn btn-primary">Atrás</a>
</div>

{% endblock content %}