{% extends "base.html" %}
{% block content %}
<div class="container main-content">
    <h1><u>Preguntas Frecuentes</u></h1>
    <br>
    <section>
        <h3><strong>General</strong></h3>
        <div>
            <h4>¿Qué es esta plataforma?</h4>
            <p>Esta plataforma permite a los usuarios publicar embarcaciones y recibir ofertas de interesados. Una vez aceptada una oferta, se coordina el intercambio y un administrador lo marca como finalizado.</p>
        </div>
        <div>
            <h4>¿Cómo puedo registrarme?</h4>
            <p>Puedes registrarte haciendo clic en el enlace de "Registrarse" en la parte superior derecha de la página. Deberás proporcionar información veraz y actualizada.</p>
        </div>
    </section>

    <br>
    <section>
        <h3><strong>Publicación de Embarcaciones</strong></h3>
        <div>
            <h4>¿Cómo puedo publicar una embarcación?</h4>
            <p>Para publicar una embarcación, primero debes estar registrado y haber iniciado sesión. Luego, haz clic en "Realizar Publicación" en el menú principal y sigue las instrucciones proporcionadas.</p>
        </div>
        <div>
            <h4>¿Qué tipo de información debo proporcionar al publicar una embarcación?</h4>
            <p>Debes proporcionar detalles precisos sobre el precio minimo permitido, año, tipo y foto/s de la embarcación. Las publicaciones con información falsa o engañosa serán eliminadas.</p>
        </div>
    </section>
    
    <br>
    <section>
        <h3><strong>Proceso de Ofertas</strong></h3>
        <div>
            <h4>¿Cómo puedo hacer una oferta por una embarcación?</h4>
            <p>Puedes hacer una oferta navegando a la página de la embarcación que te interesa y utilizando la opción de "Realizar Oferta".</p>
        </div>
        <div>
            <h4>¿Qué ocurre después de que una oferta es aceptada?</h4>
            <p>Una vez que una oferta es aceptada, debes coordinar con el propietario de la embarcación para acercarse al puerto donde gestoría les indicara como proseguir. Después del intercambio, un administrador marcará la transacción como finalizada.</p>
        </div>
    </section>
    
    <br>
    <section>
        <h3><strong>Intercambio y Finalización</strong></h3>
        <div>
            <h4>¿Cómo se coordina el intercambio?</h4>
            <p>La coordinación del intercambio es responsabilidad de ambas partes. Utiliza la mensajería interna para acordar el día y que documentación presentar en el puerto.</p>
        </div>
    </section>
    
    <br>
    <section>
        <h3><strong>Privacidad y Seguridad</strong></h3>
        <div>
            <h4>¿Cómo protegen mi información personal?</h4>
            <p>Nos comprometemos a proteger la privacidad de nuestros usuarios. La información personal proporcionada será utilizada únicamente para facilitar las transacciones en la plataforma.</p>
        </div>
        <div>
            <h4>¿Es seguro realizar transacciones en esta plataforma?</h4>
            <p>Hacemos todo lo posible para proporcionar un entorno seguro para las transacciones. Sin embargo, recomendamos a los usuarios tomar precauciones y utilizar nuestra mensajería interna para coordinar detalles de intercambios.</p>
        </div>
    </section>
    <br>
</div>

<br>
<!-- Botón para volver a la página anterior -->
<div class="text-center">
    <a href="javascript:history.back()" class="btn btn-primary">Atrás</a>
</div>

{% endblock content %}