{% extends "base.html" %}
{% block content %}
<header>
    <h1>Políticas y Condiciones</h1>
</header>
<main>
    <section>
        <h4><strong>Términos Generales</strong></h4>
        <p>Bienvenido a nuestra plataforma. Al utilizar nuestros servicios, usted acepta cumplir con los siguientes términos y condiciones. Si no está de acuerdo con estos términos, por favor, no utilice nuestra plataforma.</p>
    </section>
    <section>
        <h4><strong>Registro de Usuarios</strong></h4>
        <p>Para poder publicar embarcaciones y hacer ofertas, los usuarios deben registrarse proporcionando información veraz y actualizada. Nos reservamos el derecho de suspender o eliminar cuentas que no cumplan con estos requisitos.</p>
    </section>
    <section>
        <h4><strong>Publicación de Embarcaciones</strong></h4>
        <p>Los usuarios pueden listar embarcaciones proporcionando detalles precisos sobre el estado, características y precio inicial. Nos reservamos el derecho de eliminar publicaciones que contengan información falsa o engañosa.</p>
    </section>
    <section>
        <h4><strong>Proceso de Ofertas</strong></h4>
        <p>Los usuarios interesados pueden hacer ofertas sobre las embarcaciones listadas. Una vez que una oferta es aceptada, ambas partes deben coordinar el intercambio de manera segura.</p>
    </section>
    <section>
        <h4><strong>Intercambio y Finalización</strong></h4>
        <p>Una vez aceptada una oferta y realizado el intercambio, un administrador marcará la transacción como finalizada. Es responsabilidad de los usuarios asegurarse de que todas las condiciones del acuerdo se cumplan antes de la finalización.</p>
    </section>
    <section>
        <h4><strong>Privacidad y Seguridad</strong></h4>
        <p>Nos comprometemos a proteger la privacidad de nuestros usuarios. La información personal proporcionada será utilizada únicamente para el propósito de facilitar las transacciones en la plataforma.</p>
    </section>
    <section>
        <h4><strong>Modificaciones a los Términos</strong></h4>
        <p>Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Las modificaciones serán efectivas una vez publicadas en esta página. Se recomienda a los usuarios revisar periódicamente esta sección para estar informados sobre cualquier cambio.</p>
    </section>
    <section>
        <h4><strong>Contacto</strong></h4>
        <p>Si tiene alguna pregunta o inquietud sobre nuestras políticas y condiciones, puede contactarnos a través de nuestro formulario de contacto o al correo electrónico: soporte@tuplataforma.com.</p>
    </section>
</main>
<footer>
    <p>&copy; 2024 Tu Plataforma. Todos los derechos reservados.</p>
</footer>


<!-- Botón para volver a la página anterior -->
<div class="text-center">
    <a href="javascript:history.back()" class="btn btn-primary">Atrás</a>
</div>

{% endblock content %}