{% extends "base.html" %}
{% block content %}

<h2>Calificar Intercambio</h2>

<div class="container d-flex flex-column justify-content-center py-4">
    <h3>¿Cómo calificarias el proceso de intercambio?</h3>
    <div>

        <form action="calificar_intercambio_propietario" method="post">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">1</label>
          </div>
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
                <label class="form-check-label" for="inlineRadio3">3</label>
            </div>
            
        </form>
    </div>
</div>

<form action="calificar_intercambio_propietario" method="post">

</form>

<script>

    function imprimirValor(value) {
        console.log(value)
    }


</script>


{% endblock %}