{% extends "base.html" %}
{% block content %}

<h2>Intercambios Activos</h2>
{% for pub in publicaciones %}
<div class="card my-3 p-3">
    <div>
            <p>Título: {{pub.titulo}}</p>
            <p>Año: {{pub.anio}}</p>
            <p>Tipo: {{pub.tipo_embarcacion}}</p>
            <p>Precio: ${{pub.precio_minimo}}</p>
        </a>
    </div>
    <div class="mt-5 d-flex flex-column align-items-end">
        <a id="" class="w-25 btn btn-success" href="/intercambios/finalizar_intercambio/{{pub.id}}">Finalizar Intercambio</a>
        <a id="" class="w-25 btn btn-danger" href="/intercambios/anular_finalizacion_intercambio/{{pub.id}}">Anular Finalizar Intercambio</a>

    </div>
</div>
<hr>

{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if publicaciones.has_previous %}
        <!-- <a href="?buscar={{busqueda}}&page=1">&laquo; first</a> -->
        <a href="?buscar={{busqueda}}&page={{ publicaciones.previous_page_number }}">Ver página anterior</a>
        {% endif %}

        <span class="current">
            Page {{ publicaciones.number }} of {{ publicaciones.paginator.num_pages }}.
        </span>

        {% if publicaciones.has_next %}
        <a href="?buscar={{busqueda}}&page={{ publicaciones.next_page_number }}">Ver más publicaciones</a>
        <!-- <a href="?buscar={{busqueda}}&page={{ publicaciones.paginator.num_pages }}">last &raquo;</a> -->
        {% endif %}
    </span>
</div>

{% endblock %}