{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="mb-4">Realizar Publicación</h1>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                
                <!-- Campo Título -->
                <div class="mb-3">
                    {{ publicacion_form.titulo.label_tag }}
                    {{ publicacion_form.titulo }}
                    <div class="error-message">{{ publicacion_form.titulo.errors }}</div>
                </div>

                <!-- Campo Precio Mínimo -->
                <div class="mb-3">
                    {{ publicacion_form.precio_minimo.label_tag }}
                    {{ publicacion_form.precio_minimo }}
                    <div class="error-message">{{ publicacion_form.precio_minimo.errors }}</div>
                </div>

                <!-- Campo tipo_embarcacion -->
                <div class="mb-3">
                    {{ publicacion_form.tipo_embarcacion.label_tag }}
                    {{ publicacion_form.tipo_embarcacion }}
                    <div class="error-message">{{ publicacion_form.tipo_embarcacion.errors }}</div>
                </div>

                <!-- Campo año -->
                <div class="mb-3">
                    {{ publicacion_form.anio.label_tag }}
                    {{ publicacion_form.anio }}
                    <div class="error-message">{{ publicacion_form.anio.errors }}</div>
                </div>

                <!-- Campo para Subir Fotos -->
                <div class="mb-3">
                    <label for="custom-file" class="form-label">Fotos:</label>
                    <input type="file" id="custom-file" class="form-control" name="foto" accept="image/jpeg,image/png,image/jpg" multiple onchange="updateFileList(this)">
                    <div class="error-message">{{ foto_form.foto.errors }}</div>
                    <div id="file-preview" class="file-preview mt-2"></div> <!-- Aca se muestra la lista de archivos seleccionados -->
                </div>

                <!-- Botón para publicar -->
                <button type="submit" class="nuestro-btn">Publicar</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}