{% extends "base.html" %}

{% load static %}

{% block content %}

    {% block publicidad-banner %}
    {% endblock publicidad-banner %}


<div class="row">

    {% block left-publi %}
    {% endblock left-publi %}
    
    <div class="col">
        <div class="container">
            <h3>Publicaciones</h3>
            <section>
                {% if not publicaciones %}
                    <div>No hay publicaciones disponibles</div>
                {% else %}
                    <div class="row">
                        {% for pub in publicaciones %}
                            <div class="col-md-6 mb-4">
                                <div class="card my-3 p-3">
                                    <div class="card-body text-dark">
                                        <h5 class="card-title">{{ pub.titulo }}</h5>
                                        <p class="card-text">Año: {{ pub.anio }}</p>
                                        <p class="card-text">Tipo: {{ pub.tipo_embarcacion }}</p>
                                        <p class="card-text">Precio: ${{ pub.precio_minimo }}</p>
                                        <p class="card-text">Estado: {{ pub.estado }}</p>
                                        <p>Fotos:</p>
                                        {% if pub.fotos.all %}
                                            <div class="row">
                                                {% for foto in pub.fotos.all %}
                                                    <div class="col-6 mb-2">
                                                        <img src="{{ foto.foto.url }}" class="img-fluid" alt="Foto de publicación">
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="card-footer text-center">
                                        <a href="/publicacion/ver-publicacion/ver_detalle/{{ pub.id }}" class="btn btn-primary">Ver Detalle</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </section>
            <!-- Paginación -->
            <div class="pagination">
                <span class="step-links">
                    {% if publicaciones.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ publicaciones.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ publicaciones.number }} of {{ publicaciones.paginator.num_pages }}.
                    </span>

                    {% if publicaciones.has_next %}
                        <a href="?page={{ publicaciones.next_page_number }}">next</a>
                        <a href="?page={{ publicaciones.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
    
    {% block right-publi %}
    {% endblock right-publi %}
    
    
</div>
    {% endblock content %}