{% extends "base.html" %}
{% load static %}

{% block Buscar %}
 <!-- Sub-Navbar con la barra de busqueda -->
 <nav class="sub-navbar sub-navbar-light bg-light">
    <div class="container">
        <form class="d-flex search-form" action="/publicacion/ver-publicacion/buscar_publicaciones/" method="GET" enctype="multipart/form-data">
            <button type="submit" class="search-button">&#128269;</button>
            <input class="form-control me-2 search-input" type="search" placeholder="Buscar Publicacion" name="buscar" id="buscar" aria-label="Search">
        </form>
    </div>
</nav>
{% endblock %}

{% block content %}


<div class="row">
    <div class="col-12 mb-3">
        {% include "Publicidad/banner_central.html"%}
    </div>
    
    <div class="d-none d-lg-block col-lg-2 mb-3" style="position: relative;">
        {% include "Publicidad/banner_lateral.html" %}
    </div>

    <div class="col-12 col-lg-8">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card custom-card card-preguntas-frecuentes h-100">
                    <div class="card-header">
                        <h4>Preguntas Frecuentes</h4>
                        <a href="{% url 'preguntas_frecuentes' %}" class="boton-info" aria-expanded="false" aria-label="Toggle FAQ">
                            <span>&#63;</span>
                        </a>
                    </div>
                    <div class="card-body hidden-text">
                        <p>Encuentra respuestas a las preguntas más comunes. Haz clic en el icono para conocerlas.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card custom-card card-contacto-puerto-aventura h-100">
                    <div class="card-header">
                        <h4>Contacto Puerto Aventura</h4>
                        <a href="{% url 'contacto_puerto_aventura' %}" class="boton-info" aria-expanded="false" aria-label="Toggle FAQ">
                            <span>&#128381;</span>
                        </a>
                    </div>
                    <div class="card-body hidden-text">
                        <p>Información de contacto de Puerto Aventura. Haz clic en el icono para verlos.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card custom-card card-politicas-privacidad h-100">
                    <div class="card-header">
                        <h4>Políticas de Privacidad</h4>
                        <a href="{% url 'politicas_privacidad' %}" class="boton-info" aria-expanded="false" aria-label="Toggle FAQ">
                            <span>&#128271;</span>
                        </a>
                    </div>
                    <div class="card-body hidden-text">
                        <p>Consulta nuestras políticas de privacidad. Haz clic en el icono para leerlas.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 mb-4">
                <div class="card custom-card card-terminos-condiciones h-100">
                    <div class="card-header">
                        <h4>Terminos y Condiciones</h4>
                        <a href="{% url 'terminos_y_condiciones' %}" class="boton-info" aria-expanded="false" aria-label="Toggle FAQ">
                            <span>&#128441;</span>
                        </a>
                    </div>
                    <div class="card-body hidden-text">
                        <p>Revisa los términos y condiciones de la plataforma. Haz clic en el icono para leerlos.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card custom-card card-informacion-puerto-aventura h-100">
                    <div class="card-header">
                        <h4>Información Puerto Aventura</h4>
                        <a href="{% url 'informacion_puerto_aventura' %}" class="boton-info" aria-expanded="false" aria-label="Toggle FAQ">
                            <span>&#128712;</span>
                        </a>
                    </div>
                    <div class="card-body hidden-text">
                        <p>Detalles y datos interesantes acerca de Puerto Aventura. Haz clic en el icono para conocer más.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card custom-card card-contacto-equipo-desarrollo h-100">
                    <div class="card-header">
                        <h4>Contacto Equipo de Desarrollo</h4>
                        <a href="{% url 'contacto_equipo_desarrollo' %}" class="boton-info" aria-expanded="false" aria-label="Toggle FAQ">
                            <span>&#9993;</span>
                        </a>
                    </div>
                    <div class="card-body hidden-text">
                        <p>Información para contactar al equipo de desarrollo. Haz clic en el icono para averiguarlo.</p>
                    </div>
                </div>
            </div>    
        </div>
    </div>

    <div class="d-none d-lg-block col-lg-2 mb-3" style="position: relative;">
        {% include "Publicidad/banner_lateral.html" %}
    </div>

</div>
{% endblock content %}