{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-12 mb-3">
        {% include "Publicidades/banner_central.html" %}
    </div>
    
    <div class="d-none d-lg-block col-lg-2 mb-3">
        {% include "Publicidades/banner_lateral.html" %}
    </div>
    
    <div class="col-12 col-lg-8">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card h-100 card-preguntas-frecuentes">
                        <div class="card-body">
                            <h5 class="card-title">Preguntas Frecuentes</h5>
                            <ul class="list-unstyled">
                                <p>Preguntas Frecuentes</p>
                                <p>Política de Privacidad</p>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 mb-4">
                    <div class="card h-100 card-contacto-puerto">
                        <div class="card-body">
                            <h5 class="card-title">Contacto Puerto Aventura</h5>
                            <ul class="list-unstyled">
                                <p>Teléfono: +123456789</p>
                                <p>Correo: PuertoAventura@gmail.com</p>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card h-100 card-politicas-privacidad">
                        <div class="card-body">
                            <h5 class="card-title">Políticas de Privacidad</h5>
                            <ul class="list-unstyled">
                                <p>Política de Privacidad 1 </p>
                                <p>Política de Privacidad 2 </p>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card h-100 card-informacion-puerto-aventura">
                        <div class="card-body">
                            <h5 class="card-title">Información Acerca de Puerto Aventura</h5>
                            <ul class="list-unstyled">
                                <p>info de puerto aventura</p>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card h-100 card-contacto-equipo">
                        <div class="card-body">
                            <h5 class="card-title">Contacto Equipo de Desarrollo</h5>
                            <ul class="list-unstyled">
                                <p>Teléfono: +123456789</p>
                                <p>Correo: GlamTech@gmail.com</p>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Paginación -->
            <div class="pagination">
                <span class="step-links">
                    {% if publicaciones.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ publicaciones.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ publicaciones.number }} of {{ publicaciones.paginator.num_pages }}.
                    </span>

                    {% if publicaciones.has_next %}
                        <a href="?page={{ publicaciones.next_page_number }}">next</a>
                        <a href="?page={{ publicaciones.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>

    <div class="d-none d-lg-block col-lg-2 mb-3">
        {% include "Publicidades/banner_lateral.html" %}
    </div>
</div>

{% endblock content %}