<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
        <h1>Información Personal</h1>
            <div>
                <ul>
                    <li><p>Correo Electronico: {{username}}</p></li>
                    <li><p>Fecha de nacimiento: {{fechaNacimiento}} </p></li>
                    <li><p>Dni: {{dni}} </p></li>
                </ul>
            </div>
        <h2>Publicaciones</h2>
    {% endblock %}
</body>
</html>