{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row buscar-contenido">
    <div class="col-12 mb-3">
        {% include "Publicidades/banner_central.html" %}
    </div>
    <div class="d-none d-lg-block col-lg-2 mb-3">
        {% include "Publicidades/banner_lateral.html" %}
    </div>
    <div class="center-content col-12 col-lg-8">
        <h1>Buscar Publicaciones</h1>
        <section>
            {% if not publicaciones %}
            <div>No se encontraron resultados para: {{ busqueda }}</div>
            {% else %}
            {% for pub in publicaciones %}
            <div class="card my-3 p-3">
                <a href="/publicacion/ver-publicacion/ver_detalle/{{ pub.id }}" class="text-decoration-none">
                    <p>Título: {{ pub.titulo }}</p>
                    <p>Año: {{ pub.anio }}</p>
                    <p>Tipo: {{ pub.tipo_embarcacion }}</p>
                    <p>Precio: ${{ pub.precio_minimo }}</p>
                    <button class="button">Ver Detalle</button>
                </a>
            </div>
            <hr>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if publicaciones.has_previous %}
                    <a href="?buscar={{ busqueda }}&page={{ publicaciones.previous_page_number }}">Ver página
                        anterior</a>
                    {% endif %}

                    <span class="current">
                        Página {{ publicaciones.number }} de {{ publicaciones.paginator.num_pages }}.
                    </span>

                    {% if publicaciones.has_next %}
                    <a href="?buscar={{ busqueda }}&page={{ publicaciones.next_page_number }}">Ver más publicaciones</a>
                    {% endif %}
                </span>
            </div>
            {% endif %}
        </section>
    </div>
    <div class="d-none d-lg-block col-lg-2 mb-3">
        {% include "Publicidades/banner_lateral.html" %}
    </div>
</div>
{% endblock %}