{% extends "base.html" %}
{% block title %}Buscar Publicaciones{% endblock %}

{% block content %}
<div class="container">
    <h1>Buscar Publicaciones</h1>
    <section>
        {% if not publicaciones %}
            <div>No se encontraron resultados para: {{ busqueda }}</div>
        {% else %}
            {% for pub in publicaciones %}
                <div class="card my-3 p-3">
                    <a href="/publicacion/ver-publicacion/ver_detalle/{{ pub.id }}" class="text-decoration-none">
                        <p>Título: {{ pub.titulo }}</p>
                        <p>Año: {{ pub.anio }}</p>
                        <p>Tipo: {{ pub.tipo_embarcacion }}</p>
                        <p>Precio: ${{ pub.precio_minimo }}</p>
                        <button class="button">Ver Detalle</button>
                    </a>
                </div>
                <hr>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if publicaciones.has_previous %}
                        <a href="?buscar={{ busqueda }}&page={{ publicaciones.previous_page_number }}">Ver página anterior</a>
                    {% endif %}

                    <span class="current">
                        Página {{ publicaciones.number }} de {{ publicaciones.paginator.num_pages }}.
                    </span>

                    {% if publicaciones.has_next %}
                        <a href="?buscar={{ busqueda }}&page={{ publicaciones.next_page_number }}">Ver más publicaciones</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    </section>
</div>
{% endblock %}