{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12 mb-3">
        {% include "Publicidad/banner_central.html" %}
    </div>
    <div class="d-none d-lg-block col-lg-2 mb-3">
        {% include "Publicidad/banner_lateral.html" %}
    </div>
    <div class="col-12 col-lg-8">
        <h1>{{ post.titulo }}</h1>
        <p><strong>Tipo de embarcación:</strong> {{ post.tipo_embarcacion }}</p>
        <p><strong>Precio mínimo:</strong> ${{ post.precio_minimo }}</p>
        <p><strong>Estado:</strong> {{ post.estado }}</p>
        <p><strong>Año:</strong> {{ post.anio }}</p>

        {% if post.estado == 'eliminada' or pub.estado == 'Eliminada' %}
        <div class="alert alert-warning" role="alert">
            Esta publicación ha sido eliminada y no está disponible.
        </div>
        {% endif %}

        {% if es_dueno %}
        <div class="action-buttons">
            <a href="{% url 'ver_ofertas' post.id %}" class="btn btn-primary">Ver Ofertas</a>
            {% if post.estado != 'eliminada' and post.estado != 'Eliminada' %}
            <a href="{% url 'editar_publicacion' post.id %}" class="btn btn-info">Editar Publicación</a>
            <a href="#" class="btn btn-danger" data-borrar-url="{% url 'borrar_publicacion' post.id %}"
                onclick="confirmarBorrado(this)">Borrar Publicación</a>
            {% endif %}
            <!-- Botón para volver a la página anterior -->
            <div class="text-center">
                <a href="javascript:history.back()" class="btn btn-primary">Atrás</a>
            </div>
        </div>
        {% else %}
            <a href="{% url 'realizar_oferta' post.id %}" class="button">Realizar oferta</a>
            {% if user.is_authenticated %}
                <!-- Si no es dueño de la publicación y está autenticado, puede agregarla/quitarla a/de favoritos-->
                {% if post in user.favoritos.all %}
                    <a href="{% url 'VisualizacionPublicaciones:quitar_de_favoritos' post.id %}" class="btn btn-danger">Quitar de Favoritos</a>
                {% else %}
                    <a href="{% url 'VisualizacionPublicaciones:agregar_a_favoritos' post.id %}" class="btn btn-success">Agregar a Favoritos</a>
                {% endif %}
            {% endif %}
        {% endif %}

    <br><br><br>

    <div class="container">
        {% if fotos.all %}
            <div id="photoCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for photo in fotos.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <a href="#" class="carousel-image" data-img-url="{{ photo.foto.url }}" data-bs-toggle="modal" data-bs-target="#imageModal">
                                <img class="d-block w-100" src="{{ photo.foto.url }}" style="width: auto; max-height: 250px;">
                            </a>
                            <div class="carousel-caption d-none d-md-block">
                                <p>{{ photo.title }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#photoCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#photoCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- Div para la vista maximizada -->
            <div id="imageModal" class="modal fade" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    <div class="modal-body">
                        <img class="img-fluid" id="modalImage" src="" alt="Imagen Maximizada">
                    </div>
                </div>
            </div>
        </div>
        {% else %}
            <p>No hay fotos disponibles para esta publicación.</p>
        {% endif %}
    </div>
    <div class="d-none d-lg-block col-lg-2 mb-3">
        {% include "Publicidad/banner_lateral.html" %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var modalImage = document.getElementById('modalImage');
            var modal = new bootstrap.Modal(document.getElementById('imageModal'));

            document.querySelectorAll('.carousel-image').forEach(function(img) {
                img.addEventListener('click', function() {
                    var imgUrl = this.getAttribute('data-img-url');
                    modalImage.src = imgUrl;
                    modal.show();
                });
            });
        });
    </script>
{% endblock %}