{% extends "base.html" %}
{% block title %}{{ room.name }} | {% endblock %}
{% block messages %}
    <!-- No hacer nada en esta plantilla para anular el bloque de mensajes -->
{% endblock %}
{% block content %}

<div class="container mt-5 d-flex justify-content-center">
    <div style="width: 80%;">
        <div class="room-title text-center mb-4">
            <h1 class="display-4">{{ room.name }}</h1>
        </div>

        <div class="chat-container card" style="max-width: 100%;"> 
            <div class="card-body">
                <div class="chat-messages mb-3" id="chat-messages" style="height: 400px; overflow-y: auto;">
                    {% for message in messages %}
                        <div class="message">
                            <p class="message-user font-weight-bold"> <b>{{ message.user.username }}:</b> </p>
                            <p class="message-body">{{ message.content }}</p>
                            {% if message.foto %}
                                <img src="{{ message.foto.url }}" alt="Foto adjunta" width="60%" height="60%"> <!--SI USO CHAT ESTATICO TENGO QUE USAR message.foto.url PARA QUE BUSQUE LA FOTO A LA RUTA ESTATICA-->
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

                <div class="send-container">
                    <form id="chat-form" action="." method="post" enctype="multipart/form-data" class="justify-content-start">
                        {% csrf_token %}
                        <input type="text" name="content" class="form-control mr-2 p-2" placeholder="Your message..." id="chat-message-input">
                        <input type="file" name="foto" class="mr-2" id="chat-foto-input">
                        <button class="btn btn-success p-2" id="chat-message-submit" >Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts-tiempo-real %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const roomName = "{{ room.name }}";
            const chatSocket = new WebSocket(
                'ws://' + window.location.host +
                '/ws/chat/' + roomName + '/');
            
            //Recibo datos del cosumeers y lo muestro en chat a tiempo real al chat
            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                const _message = data['message'];
                const foto = data['foto'];
                const _user = data['username']
                
                const chatMessages = document.querySelector('#chat-messages');
                const messageElement = document.createElement('div');
                
                //lo que muestro al chat
                messageElement.innerHTML = `
                    <div class="message">
                        <p class="message-user font-weight-bold"> <b>${_user}:</b> </p>
                        <p class="message-body">${_message}</p>
                        ${foto ? `<img src="${foto}" alt="Foto adjunta" width="40%" height="40%">` : ''}
                    </div>`;
                chatMessages.appendChild(messageElement);
                chatMessages.scrollTop = chatMessages.scrollHeight;
            };

            
            const chatForm = document.querySelector('#chat-form');
            const messageInput = document.querySelector('#chat-message-input');
            const photoInput = document.querySelector('#chat-foto-input');

            //Envio mensajes del form al consumers 
            chatForm.addEventListener('submit', function(e) {
                e.preventDefault();
                const message = messageInput.value;
                const foto = photoInput.files[0];
                const username = '{{ request.user.username }}';
                const roomName = '{{ room.slug }}';

                if (foto) {
                    const reader = new FileReader();
                    reader.onload = function(event) { //Para manejar imagenes
                        const fotoData = event.target.result;
                        chatSocket.send(JSON.stringify({
                            'message': message,
                            'username': username,
                            'room': roomName,
                            'foto': fotoData
                        }));
                    };
                    reader.readAsDataURL(foto);
                } else if (message != '') {
                    chatSocket.send(JSON.stringify({
                        'message': message,
                        'username': username,
                        'room': roomName,
                        'foto': null
                    }));
                }
                
                messageInput.value = '';
                photoInput.value = '';
            });

            //scrollear a lo ultimo
            scrollToBottom()
            function scrollToBottom() {
                const chatMessages = document.getElementById("chat-messages");
                chatMessages.scrollTop = chatMessages.scrollHeight;
            };
        });
</script>
{% endblock %}